<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">

  <servers>
    <server>
      <id>${vprofile-snapshot}</id>
      <username>${admin}</username>
      <password>${admin123}</password>
    </server>
    <server>
      <id>${vprofile-release}</id>
      <username>${admin}</username>
      <password>${admin123}</password>
    </server>
        <server>
        <id>${vpro-maven-central}</id>
      <username>${NEXUS-admin}</username>
      <password>${admin123}</password>
    </server>
    <server>
        <id>${vpro-maven-group}</id>
      <username>${admin}</username>
      <password>${admin123}</password>
    </server>
  </servers>

  <mirrors>
    <mirror>
      <id>${CENTRAL_REPO}</id>
      <name>${CENTRAL_REPO}</name>
      <url>http://${NEXUSIP}:${NEXUSPORT}/repository/${NEXUS_GRP_REPO}/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>

</settings>
